.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: var(--bg-dark);
    position: fixed;
    height: 100vh;
    overflow: hidden;
    transition: all ease 0.5s;
}

.sidebar .sidebar-avatar {
    background: url('../../assets/img/cover.png');
    background-color: #181c2e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    padding-top: 20px;
}

.sidebar .sidebar-avatar p {
    color: #fff;
    text-align: center;
    margin: 6px 0px;
    text-overflow: ellipsis;
    width: 100%;
}

.user-avatar {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.sidebar-menu {
    display: fixed;
    height: 100vh;
}

.sidebar a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 16px;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
}

.sidebar a:hover {
    background: var(--blue);
    color: #fff;
}

.sidebar a svg {
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

.menu-hb {
    display: none;
    z-index: 999;
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: right;
    margin: 20px;
    position: relative;
}

@media screen and (max-width: 468px) {
    .sidebar {
        width: 100%;
        left: -400px;
    }

    .sidebar .sidebar-avatar {
        display: none;
    }

    .sidebar-menu {
        margin-top: 80px;
    }

    .sidebar-menu a {
        padding-left: 40px;
    }

    .menu-hb {
        display: block;
    }

    .menu-hb:before {
        content: '';

        border-radius: 3px;
        background-color: var(--blue);
        width: 100%;
        height: 4.4px;

        position: absolute;
        top: 40%;

        transition: all ease 0.5s;
    }

    .menu-hb:after {
        content: '';

        border-radius: 3px;
        background-color: var(--blue);
        width: 80%;
        height: 4.4px;

        position: absolute;
        top: 70%;
        right: 0;

        transition: all ease 0.5s;
    }

    .menu-hb.active:before {
        content: '';

        border-radius: 3px;
        background-color: var(--blue);
        width: 100%;
        height: 4.4px;

        position: absolute;
        top: 40%;

        transform: rotate(45deg);
    }

    .menu-hb.active:after {
        content: '';

        border-radius: 3px;
        background-color: var(--blue);
        width: 100%;
        height: 4.4px;

        position: absolute;
        top: 40%;
        right: 0px;

        transform: rotate(-45deg);
    }

    .sidebar.active {
        left: 0;
    }
}
